<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>login - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body >
  <h1>WELCOME TO NY CITYBOOK</h1>
      <div class="cotn_principal">
                <div class="cont_centrar">
                      <div class="cont_login">
                                <div class="cont_info_log_sign_up">
                
                                              <div class="col_md_login">
                                                    <div class="cont_ba_opcitiy">      
                                                    <h2>LOGIN</h2>  
                                                    <p>Login to CITY BOOK</p> 
                                                    <button class="btn_login" (click)="cambiar_login()">LOGIN</button>
                                                    </div>
                                              </div>
                              
                                              <div class="col_md_sign_up">
                                                      <div class="cont_ba_opcitiy">
                                                      <h2>SIGN UP</h2>
                                                      <p>you dont' have an account? SIGN-UP</p>
                                                      <button class="btn_sign_up" (click)="cambiar_sign_up()">SIGN UP</button>
                                                      </div>
                                              </div>
                                 </div>

                                  <div class="cont_back_info">
                                        <div class="cont_img_back_grey">
                                            <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
                                        </div>
                                  </div>

                                  <div class="cont_forms" >
                                      <div class="cont_img_back_">
                                        <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
                                      </div>
                                      
                                      <div class="cont_form_login">
                                            <a href="#" (click)="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
                                            <h2>LOGIN</h2>
                                            <input type="text" placeholder="userName" [(ngModel)] = "object_user.userName"/>
                                            {{this.object_user.userName}}
                                            <!-- <a routerLink="citybook"></a><button class="btn_login" (click)="is_Registed_user()">LOGIN</button></a>  -->
                                            <button class="btn_login" (click)="is_Registed_user()">LOGIN</button> 
                                              <div *ngIf="isRegisteredUser">
                                                <app-citybook  [whoIsuser]='whoIsuser'></app-citybook>
                                              </div>
                                      </div>
                          
                                      <div class="cont_form_sign_up">
                                            <a href="#" (click)="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
                                            <h2>SIGN UP</h2>
                                            <input [(ngModel)] = "object_user.userName" placeholder="UserName" type="text"/>
                                            <input [(ngModel)] = "object_user.firstName" placeholder="firstName" type="text" />
                                            <input [(ngModel)] = "object_user.lastName" placeholder="lastName" type="text"/>
                                            <button class="btn_sign_up" (click)="addUser()">SIGN UP</button>
                                      </div>
                                  </div>
                     </div>
              </div>
      </div>
  <script>
              /* ------------------------------------ Click on login and Sign Up to  changue and view the effect
              ---------------------------------------
            */

          function cambiar_login() {
            document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";  
          document.querySelector('.cont_form_login').style.display = "block";
          document.querySelector('.cont_form_sign_up').style.opacity = "0";               

          setTimeout(function(){  document.querySelector('.cont_form_login').style.opacity = "1"; },400);  
            
          setTimeout(function(){    
          document.querySelector('.cont_form_sign_up').style.display = "none";
          },200);  
            }

          function cambiar_sign_up() {
            alert('hello There!')
            document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
            document.querySelector('.cont_form_sign_up').style.display = "block";
            document.querySelector('.cont_form_login').style.opacity = "0";
            
          setTimeout(function(){  document.querySelector('.cont_form_sign_up').style.opacity = "1";
          },100);  

          setTimeout(function(){   document.querySelector('.cont_form_login').style.display = "none";
          },400);  
          }    
            function ocultar_login_sign_up() {

            document.querySelector('.cont_forms').className = "cont_forms";  
            document.querySelector('.cont_form_sign_up').style.opacity = "0";               
            document.querySelector('.cont_form_login').style.opacity = "0"; 

            setTimeout(function(){
            document.querySelector('.cont_form_sign_up').style.display = "none";
            document.querySelector('.cont_form_login').style.display = "none";
            },500);  
              
              }
  </script>
  <script type="text/javascript">

  </script>
</body>
</html>
