<!-- bar -->
<div class="ui grid">
<div class="eight wide column ">
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
             ></canvas>
    </div>
   
  </div>
<!-- //doughnut -->

<div class="eight wide column" style="display: block">
    <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
              ></canvas>
  </div>






</div>