.search_box{
  overflow-wrap:break-word;
   
}
.search_box:hover{
  box-shadow: 0 0 14px 0px black;
  cursor:pointer; 
}
.ui.header.search{
  margin-bottom:-1em;
}
.item.results:hover{
  cursor:pointer; 
  background: #54bf9b!important;
  box-shadow: inset -3px 1px 5px 5px black;
}
.pusher{
  padding-left:2%;
  padding-right:25%;
  padding-top: 2%;
}

.profile_pic {
  width: 13em!important;
  height: 13em!important;
  margin: auto!important;
}
agm-map {
  height: 300px;
}
.ui.grid.below_design{
  margin-top: 2em;
}