
    <!-- <h2>NY CITY DATA</h2>
    <input (click)="getData()"type="submit" value="Directory"/>
    <ul *ngIf="data">
        <li *ngFor="let datum of data"><h3>{{datum.agency_name}}</h3>
        <h3>{{datum.category_description}}</h3>
        <h3>{{datum.ShortTitle}}</h3>
        <h3>{{datum.vendor_address}}</h3></li>
        </ul>
      
   -->
   <!DOCTYPE html>
   <html>
       <head>
           <title>test</title>
         
        
              <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
       </head>
       <body>
            <div class="ui left demo sidebar vertical inverted menu push visible">
                <div class="item" (click)="edited=false">Dashboard</div>
                    <div class="item">
                            <div class="ui icon input">
                                    <input [(ngModel)] = "word" placeholder="UserName" type="text">
                                    <i class="search icon"></i>
                           </div>
                    </div>
                    <div class="item ui inverted segment" >
                        <div class="ui inverted relaxed divided  list ">
                          <div *ngFor="let datum of filter_search(word)" (click)="openMe(datum.request_id)" class="item results">
                            <div class="content">
                              <div class="header">{{datum.agency_name}} </div>
                                {{datum.section_name}}
                            </div>
                            
                          </div>
                        </div>
                      </div>
                   
                  </div>
                  <div class="pusher">
                       
                        <app-charts *ngIf="edited!=true"></app-charts>
                           
                            <div *ngIf="edited">
                                    <div class="ui  header">{{description.agency_name}}</div>
                                <div class="ui raised segment">
                                    <div class="ui block ">Section Name: {{description.section_name}}</div>
                                       
                                            <div class="ui block ">Title: {{description.short_title}}</div>
                                                <div class="ui block ">Person: {{description.vendor_name}}</div>
                                                    <div class="ui block ">Address: {{description.vendor_address}}</div>
                                                        <div class="ui block ">Description: {{description.other_info_1}}</div>
                                                            <div class="ui block ">PrintOuts: {{description.printout_1}}</div>
                                                                <div class="ui block ">Start Date: {{description.start_date}}</div>
                                                                    <div class="ui block ">End Date: {{description.end_date}}</div>
                                </div>
                                    
                                    
                               
                                <div class="ui grid below_design">
                                    <div class="six wide columne">
                                <div class="ui medium header">Employees:</div>

                                <div class="ui link cards">
                                    <div *ngFor="let emp of employee"  class="card">
                                      <div class="image">
                                        <img class="profile_pic" src="https://d30y9cdsu7xlg0.cloudfront.net/png/138927-200.png">
                                      </div>
                                      <div class="content">
                                        <div class="header">
                                            {{emp._employee_name}}
                                        </div>
                                        <div class="description">
                                        Title Code: {{emp._title_code}}
                                        </div>
                                        <div class="description">
                                        Salary: {{emp._salary}}
                                        </div>
                                        <div class="description">
                                        Provisional Status: {{emp._provisional_statu}}
                                        </div>
                                        <div class="description">
                                        Reason For Change: {{emp._reason_for_change}}
                                        </div>
                                      </div>
                                      <div class="extra content">
                                        <span class="right floated">
                                            Effective Date: {{emp.effective_date}}
                                        </span>
                                        
                                      </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="ten wide column">
                                    <agm-map [latitude]="lat" [longitude]="lng" [maxZoom]=40>
                                            <agm-marker [latitude]="lat" [longitude]="lng" ></agm-marker>
                                            <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                                                    <ng-template>
                                                      My first Snazzy Info Window!
                                                    </ng-template>
                                                  </agm-snazzy-info-window>
                                          </agm-map>
                                          
                                        </div>
                                    </div>
                               
                             </div>                  

                                  
                            
                  </div>
       
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2J1jXBnQmCe90NfKZ7rj4l-ybMR2h0Wo&callback=initMap"
  type="text/javascript"></script>
  <script>
         
        </script>

        <script>
      
       
           
        
        </script>
       </body>
   </html>
   